/* font style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* global styles */


/* header style */

.bg-color {
    background-color: #264653;
}

.button-link {
    background-color: #E76F51;
}

/* main styles */
.filter-img {
    filter: grayscale(100%);
}

.alert-color {
    color: #E76F51;
}

.danger-font-style {
    font-family: 'Luckiest Guy', cursive;

}