/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* global styles */
body {
    font-family: 'Poppins', sans-serif;
}

/* header style */

.bg-color {
    background-color: #264653;
}

.button-link {
    background-color: #E76F51;
}

/* main styles */
.filter-img {
    filter: grayscale(100%);
}

.alert-color {
    color: #E76F51;
}

.danger-font-style {
    font-family: 'Luckiest Guy', cursive;

}

.round {
    width: 149px;
    height: 149px;
    border-radius: 50%;

}